<div class="card">
    <div class="container-fluid">
    <div class="container-card">
        <div class="row">
            <h4 class="text-center">Where should we go for lunch?</h4>

            
            <h6>{{model.opt1}}</h6>
            
        </div>
        <div class="row">
            <button {{action 'submitVote'}} class="btn btn-default">Submit Vote</button>
        </div>
    </div>
    </div>
</div>